/* The container */
.gridContainer {
    display: inline;

position: relative;

margin-left: 0px;

cursor: pointer;

-webkit-user-select: none;

-moz-user-select: none;

-ms-user-select: none;

user-select: none;
}
.sortbyLabel
{
    font-size: 10px;

    font-weight: 500;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 2.8;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #686868;
margin-bottom: -10px;
margin-left:12px;
}
.advanceFeatures
{
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 4;
letter-spacing: normal;
text-align: left;
color: #19c4ac !important;
display: inline;
text-decoration: underline !important;
}
.searchlabel
{
    font-weight: normal;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 4;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #707070;
    display:inline
}
.cvc-dropdown
{
    border-radius: 3px;
display:inline;
box-shadow: 0px 2px 2px 0 rgba(180, 184, 190, 0.44);

background-color: #ffffff;

border: solid 1px #dadde0;

width:auto;

height: 30px!important;

font-weight: 300;

font-style: normal;

font-stretch: normal;

line-height: 3.69;

letter-spacing: normal;

text-align: left;

color: #000003;
font-size:12px;
}
.labelLinks
{
    font-size: 10px;

  font-weight: bold;

  font-style: normal;

  font-stretch: normal;

  line-height: 0.8;

  letter-spacing: normal;

  text-align: left;

  color: #a2a1a1;
}
.labelLinksList
{
    font-size: 12px;

  font-weight: normal;

  font-style: normal;

  font-stretch: normal;

  line-height: 0.67;

  letter-spacing: normal;

  text-align: left;

  color: #808080;
}
.createButton
{
    color: #17bdde;
border-radius: 3px;
box-shadow: 0px 2px 2px 0 rgba(7, 176, 209, 0.44);
background-color: #ffffff;
border: solid 1px #17bdde;
width: 112px;
    height: 32px;
    text-decoration: none;
    cursor: pointer;
}
.TileOperationDiv 
{
    padding-left: 14px;
    font-size:12px;


li
{
    display: inline;
    padding-right: 8px;
    margin-right: 4px;
}
}
.tileIconclass 
{
    border-bottom: 1px solid lightgrey;
    margin-left: 0px;
    margin-right: 0px;
     svg
    {
        width: 36px;
        margin: 0px auto;
        display: block;
        fill:#a9dff5;
    }
   
    div
    {
        text-align: center;
    }
}
.tileUsersDetail
{
    border-bottom: 1px solid lightgrey;
    margin-left: 0px;
    margin-right: 0px;
       
    div
    {
        text-align: left;
    }

}

/* Hide the browser's default checkbox */
.gridContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.gridContainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.gridContainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.civaconGridTile
{
    width: 290px;
    height: 200px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Show the checkmark when checked */
.gridContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.gridContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.tileIcons
{
    letter-spacing: 0.5rem;
    /* right: 68px; */
    float: right;
    margin-right: 10px;
    padding-top: 10px;

    span
    {
        text-align: center;
        cursor: pointer;
        padding-right: 8px;

    }
}
.cardHeader
{
   
    position: relative;
    text-align: center;
    color: white;
}
.top-left
{
    position: absolute;
    top: 10px;
    left: 5%;
    label
    {
        display: block;
    }
    .name
    {
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;      
        letter-spacing: normal;
        text-align: left;
        color: #18bae2;
        display: block;
    }
    .role
    {
        font-size: 12px;
        font-weight: bold;
        font-style: normal;      
        font-stretch: normal;           
        letter-spacing: normal;
        text-align: left;
       color: #343537;
       display: block;

    }
}
.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 5%;
    .name
    {
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;      
        letter-spacing: normal;
        text-align: left;
        color: #18bae2;
        display: block;
    }
    .role
    {
        font-size: 12px;
        font-weight: bold;
        font-style: normal;      
        font-stretch: normal;           
        letter-spacing: normal;
        text-align: left;
       color: #343537;
       display: block;

    }
    .email
    {
        font-size: 12px;
        font-weight: normal; 
        font-style: normal; 
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #343537;
        display: block;

    }
}


.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.overlay {
    position: absolute;
    left: 100%;
    right: 0;
    top:0;
    opacity:1;
    overflow: hidden;
    width: 0;
    height: 44px;
    transition: .5s ease;
    opacity: 0.8;

    background-color: #19c4ac;
  
    box-shadow: 0px 4px 6.3px 0.7px rgba(0, 0, 0, 0.18);
  }
  
  .cardHeader:hover
  { .overlay {
    left: 0;
    width: 60%;

    margin-left: 40%;
  
  }
   img
  {
    opacity: 1 !important;
  }
}
  
  .icons {
    color: white;

position: absolute;

top: 50%;

left: 10%;

-webkit-transform: translate(10%, -50%);

transform: translate(10%, -50%);

text-align: center;

width: auto;
 label
 {
     padding-left:0px;
 }
 span
 {
     padding:10px;
 }
  }

.cardFooter
{
    border-bottom: 1px solid lightgrey;
 
}

.pencil
    {
        cursor: pointer;
        
    }
    .trash
    {
        cursor: pointer;

    }
.gridOperationDiv
{
    text-align: center;
    background-color: #eaf9ff;
    border: 1px solid #8ee8ff;
    font-size: 0.9rem;

}
.gridOperationDiv > *
{
    border-right: 1px solid #8ee8ff;
font-size: 0.9rem;
display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}
.gridOperationchild > * 
{
    font-size: 0.9rem;

}



.dropdown .dropdown-menu {
    /* -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; */
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
     -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
         transition: all .3s ease;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    
}

.dropdown:hover .dropdown-menu{
    
    max-height: 400px;
    color: white;

    opacity: 0.8;
    width: 362px;
    box-shadow: 0px 2px 2px 0 rgba(25, 196, 172, 0.44);

    background-color: #65c6d6;
    
    border: solid 1px #18c0db;svg
{
    width: 19px;
  height: 19px;
  margin: 0px 10px -5px 0px;

}
}

.dropdown-item
{
    transition: all .3s ease;
    color: #212529;
    font-size:14px;
}
.dropdown-item.active, .dropdown-item:active {
   
    text-decoration: none;
   background-color: rgba(0,157,188,0.4);

.advanceFeatures
{
    opacity: 0.8;
    box-shadow: 0px 2px 2px 0 rgba(25, 196, 172, 0.44);

    background-color: #65c6d6;
    
    border: solid 1px #18c0db;
}
}
.dropdown-item:hover {
    font-size: 14px;

    font-weight: normal;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: normal;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #000000;    
    text-decoration: none;
    background-color: rgba(0,157,188,0.4);
    .advanceFeatures
{
    opacity: 0.8;

box-shadow: 0px 2px 2px 0 rgba(25, 196, 172, 0.44);

background-color: #65c6d6;

border: solid 1px #18c0db;
}
    svg
{
    fill:white
}
}


.ToggleActive
{
   
    border: 2px solid #19c4ac;

border-radius: 32px;

color: #000000;
margin-left:10px;

background-color: white;
    .active

    {
       
        color: white;

background-color: #19c4ac;

border-radius: 63px 64px 64px 63px !important;

padding: 0.01rem 0.25rem;

border-radius: 14px;

background-color: #00c0dd;
    }

    label
    {
        opacity: 0.8;

        padding: 0.01rem 0.25rem;
        margin-bottom: 0px;
    border-radius: 63px 64px 64px 63px;
    }
}



.searchexpand {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
  outline:none;
}
.searchexpand::-webkit-search-decoration,
.searchexpand::-webkit-search-cancel-button {
	display: none; 
}
.searchexpandlabel {
  position: relative;
}
.searchexpandlabel:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}
.searchexpand {

	border: none;
  padding: 10px 30px;
	
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.searchexpand:focus {
	width: 210px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 1px 8px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.searchexpand:-moz-placeholder {
font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 4;
    letter-spacing: normal;
    text-align: left;
    color: #707070 !important;
    display: inline;}
.searchexpand::-webkit-input-placeholder {
font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 4;
    letter-spacing: normal;
    text-align: left;
    color: #707070 !important;
    display: inline;}
