.UserInfoDetails
 {
  label
  {
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #434343;
    padding-left: 15px;
  }
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.43;
  letter-spacing: normal;
  text-align: left;
  color: #434343;
 }

 .userInfoName
 {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #149ec0;
  margin-bottom:-8px;
 }
 .userInforole
 {
   margin-top:-10px;
 }
 .userinfoEmail
 {
  color: #00b0db;
 }