<ul class="CV-breadcrumb" style="padding-left: 115px;">
  <li class="CV-breadcrumb-item">
  Administration
  </li>
  <li class="CV-breadcrumb-item">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="10px"  viewBox="0 0 444.819 444.819" style="fill:#b5b9bf;enable-background:new 0 0 444.819 444.819;"
      xml:space="preserve">
  <g>
     <path d="M352.025,196.712L165.884,10.848C159.029,3.615,150.469,0,140.187,0c-10.282,0-18.842,3.619-25.697,10.848L92.792,32.264
         c-7.044,7.043-10.566,15.604-10.566,25.692c0,9.897,3.521,18.56,10.566,25.981l138.753,138.473L92.786,361.168
         c-7.042,7.043-10.564,15.604-10.564,25.693c0,9.896,3.521,18.562,10.564,25.98l21.7,21.413
         c7.043,7.043,15.612,10.564,25.697,10.564c10.089,0,18.656-3.521,25.697-10.564l186.145-185.864
         c7.046-7.423,10.571-16.084,10.571-25.981C362.597,212.321,359.071,203.755,352.025,196.712z"/>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  </svg>
  </li>
  <li class="CV-breadcrumb-item">
 
  <a [routerLink]="['../view']"> <span style="color:#17bdde;font-weight: bold"> Company </span> </a>
  </li>
  <li class="CV-breadcrumb-item">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="10px"  viewBox="0 0 444.819 444.819" style="fill:#b5b9bf;enable-background:new 0 0 444.819 444.819;"
          xml:space="preserve">
      <g>
         <path d="M352.025,196.712L165.884,10.848C159.029,3.615,150.469,0,140.187,0c-10.282,0-18.842,3.619-25.697,10.848L92.792,32.264
             c-7.044,7.043-10.566,15.604-10.566,25.692c0,9.897,3.521,18.56,10.566,25.981l138.753,138.473L92.786,361.168
             c-7.042,7.043-10.564,15.604-10.564,25.693c0,9.896,3.521,18.562,10.564,25.98l21.7,21.413
             c7.043,7.043,15.612,10.564,25.697,10.564c10.089,0,18.656-3.521,25.697-10.564l186.145-185.864
             c7.046-7.423,10.571-16.084,10.571-25.981C362.597,212.321,359.071,203.755,352.025,196.712z"/>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      </svg>
      </li>
  <li class="CV-breadcrumb-item">
          <a class="active"> User Details </a>
  
         <svg _ngcontent-c5="" height="5" width="700"><line _ngcontent-c5="" style="stroke:#dde0e3;stroke-width:2" x1="0" x2="700" y1="0" y2="0"></line> Sorry, your browser does not support inline SVG. </svg>
          </li>

</ul>
<div class="row" style="margin-left: 31%;">
  <div class="col-sm-6">
      <label class="userInfoName">Trailer  Company</label><br>
      <label  class="mediumFontsize userInforole">SYSTEM ADMIN</label>

  </div>
  <div class="col-sm-3">
      <br>
        <svg (click)="Cancel()" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 22.88 22.88" style="width: 13px;
              float: right;
              cursor: pointer;enable-background:new 0 0 22.88 22.88;" xml:space="preserve">
         <path style="fill:#1E201D;" d="M0.324,1.909c-0.429-0.429-0.429-1.143,0-1.587c0.444-0.429,1.143-0.429,1.587,0l9.523,9.539
             l9.539-9.539c0.429-0.429,1.143-0.429,1.571,0c0.444,0.444,0.444,1.159,0,1.587l-9.523,9.524l9.523,9.539
             c0.444,0.429,0.444,1.143,0,1.587c-0.429,0.429-1.143,0.429-1.571,0l-9.539-9.539l-9.523,9.539c-0.444,0.429-1.143,0.429-1.587,0
             c-0.429-0.444-0.429-1.159,0-1.587l9.523-9.539L0.324,1.909z"/>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         </svg>
       
      </div>
<div class="row col-sm-12">
  <svg height="5" width="700"><line  style="stroke:#dde0e3;stroke-width:2" x1="0" x2="700" y1="0" y2="0"></line> Sorry, your browser does not support inline SVG. </svg>

</div>
<div class="col-sm-3">
  <img  src="../assets/images/TrailerImage.png" style="opacity: 1;
  width: 170px;
  height: 170px;
  border-radius: 3px;
  background-color: #e2e2e2;">
</div>
<div class="col-sm-9">
    <label>DESCRIPTION</label> <br>
    A great trailer company that aims to be the best in the world.     
  <label>ADDRESS</label> <br>
      Dover Corporation, 3005 Highland Parkway, Downers Grove, IL 60515<br>
      P: +1 (212) 849-4539    |    P: +1 (630) 743-5180    

</div>
</div>