.userRole
{
.active
{
color:#003664;

}
label
{
    font-size: 0.8rem;
}

}
.ToggleActive
{
    border: 2px solid #003664;
    border-radius: 32px;
    color:black;

    .active

    {
        color:white;
        background-color: #003664;
        border-radius: 63px 64px 64px 63px;
        padding: 0.01rem 0.25rem;
    }

    label
    {
        opacity: 0.8;

        padding: 0.01rem 0.25rem;
        margin-bottom: 0px;
    border-radius: 63px 64px 64px 63px;
    }
}
.heightlightIcon
{

    color:green;

}
.pencilHide
  {

    display: none;
  }