<ol class="CV-breadcrumb">
    <li class="CV-breadcrumb-item">
        <a [routerLink]="['../viewUsers']">
            View Users Details
          </a>
    </li>
    <li class="CV-breadcrumb-item">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="14px"  viewBox="0 0 444.819 444.819" style="enable-background:new 0 0 444.819 444.819;"
            xml:space="preserve">
       <g>
           <path d="M352.025,196.712L165.884,10.848C159.029,3.615,150.469,0,140.187,0c-10.282,0-18.842,3.619-25.697,10.848L92.792,32.264
               c-7.044,7.043-10.566,15.604-10.566,25.692c0,9.897,3.521,18.56,10.566,25.981l138.753,138.473L92.786,361.168
               c-7.042,7.043-10.564,15.604-10.564,25.693c0,9.896,3.521,18.562,10.564,25.98l21.7,21.413
               c7.043,7.043,15.612,10.564,25.697,10.564c10.089,0,18.656-3.521,25.697-10.564l186.145-185.864
               c7.046-7.423,10.571-16.084,10.571-25.981C362.597,212.321,359.071,203.755,352.025,196.712z"/>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       </svg>
    </li>
    <li class="CV-breadcrumb-item">
            <a class="active">
                    ADD USER
                </a>
</li>
  </ol>

  <form [formGroup]="users" class="editorForm">

<div class="form-group">
        <label style="margin-bottom: 0rem">SELECT USER PERSONA</label>

        <div class="btn-group userRole" btnRadioGroup formControlName="RoleType">
          <label btnRadio="System Admin" class="btn"
                 tabindex="0" role="button">SYSTEM ADMIN</label>
          <label btnRadio="Terminal Manager" class="btn "
                 tabindex="0" role="button">BRANCH MANAGER</label>
          <label btnRadio="Dispatcher" class="btn"
                 tabindex="0" role="button">BUISNESS CLERK</label>
                 <label btnRadio="Maintenance Technician" class="btn "
                 tabindex="0" role="button"> MAINTENANCE TECHNICIAN </label>       
        </div>
      </div>
      <accordion class="civaconAccordion" [closeOthers]="oneAtATime">
      
          <accordion-group [isDisabled]="true" [panelClass]="customClass" *ngFor="let group of groups;let i = index;" [isOpen]="group.isFirstOpen">
      
              <div accordion-heading class="clearfix">
                  <a class="Accordionheader" (click)="open(group,i)" [ngClass]="group.isFirstOpen?'activeheader':'inactiveHeader'"> {{group.title | uppercase}}
                      <i id="icon" [ngClass]="group.isFirstOpen? 'fa fa-chevron-right open':'fa fa-chevron-right' "></i>
                      <i class="fa fa-pencil pencil" [ngClass]="group.isFirstOpen? 'pencilHide':'pencilpen'" aria-hidden="true"></i>
                  </a>
              </div>
      
      
              <div [ngSwitch]="group?.content">
                  <div *ngSwitchCase="'Users'" class="row col-sm-12 ">
                     
                        <div class="col-sm-12 row">
                          <div class="form-group col-sm-3 inputstyle">
                              <input id="textFirstName" type="text" formControlName="firstname" placeholder="first Name" required/>
                              <label class="inputlabel" for="textFirstName">First Name        
                                  <span class="star" >*</span>
                              </label>
      
                              <div class="error" *ngIf="users.get('firstname').touched && users.get('firstname').hasError('required')">
                                    First Name is required
                              </div>
                              <div class="error" *ngIf="users.get('firstname').touched && users.get('firstname').hasError('minlength')">
                                  Minimum of 2 characters
                              </div>
                              
                            
                          </div>
      
                          <div class="form-group col-sm-3 inputstyle">
                              <input id="textLastName" formControlName="lastname" placeholder="Last Name" required/>
                              <label class="inputlabel" for="textLastName">Last Name
                                      <span class="star" >*</span>
      
                              </label>
      
                              <div class="error" *ngIf="users.get('lastname').touched && users.get('lastname').hasError('required')">
                                    Last Name is required
                              </div>
                              <div class="error" *ngIf="users.get('lastname').touched && users.get('lastname').hasError('minlength')">
                                  Minimum of 2 characters
                              </div>
                          </div>
                          <div class="form-group col-sm-2">
                                        <div class="btn-group ToggleActive"  btnRadioGroup formControlName="ToggleActive">
                                          <label btnRadio="Active" class="btn" 
                                                 tabindex="0" role="button" style="font-size:14px">ACTIVE</label>
                                          <label btnRadio="InActive" class="btn" 
                                                 tabindex="0" role="button" style="font-size:14px">INACTIVE</label>
                                         
                                        </div>
                              </div>

      
      
      
                      </div>

                      <div class="col-sm-12 row">
                            <div class="form-group col-sm-3 trailerlogoupload ">
                                    <label>Upload Photo</label>
                                    <div class="btn-file">
                                        BROWSE & UPLOAD
                                        <input type="file" accept="image/*"  (change)="onSelectFile($event)">
                                    </div>
                                    <label>
                                        File size: 25kb jpg,png dimensions:250 * 70
                                    </label>                              
                                        <div *ngIf="error.isError" class="alert alert-danger">
                                                {{ error.errorMessage }}
                                             </div>
                                                       
                            </div>
                            <div class="col-sm-3" style="background-color: azure;height: 150px;">
                                   
                                            <img *ngIf="url" [src]="url" border="0" style="height: 100%;width: 100%; box-shadow: none;border:none;background:none;">
                                            <section   *ngFor="let image of this.imagefile">
                                                    <p>{{image.name}} {{image.filesize}}</p>  
                                
                                              </section>
                                                          
                                        </div>
                                        <div class="col-sm-3 form-group inputstyle">
                                                <select class="editorinput dropdownaddress" (change)="onCountrySelect(users.controls['userGroups'].value)" formControlName="userGroup" required>
                                                       <option [ngValue]="null" disabled selected> Assign User Group </option>
                                              
                                               <!--  <option value="null" disabled="true" [selected]="true"> Country
                                                    <span class="star" >*</span>
                                                                </option> -->
                                                    <option *ngFor=" let n of usergroups;let i=index" [ngValue]="n">{{n.name}}</option>
                                                </select>
                                                <label [ngClass]="{ 'lableFocused' : users.controls['userGroup'].value.length != 0 }">Assign User Group</label>
          
                                            
          
                                            </div>
                      </div>
                    
                      <div class="row">
                            <div class="col-sm-12">
                                    <label>Create Login Information</label>
                    
                                </div>
                 <div class="col-sm-12">
                            <div class="form-group col-sm-3 inputstyle">
                                    <input id="textUsername" formControlName="username" placeholder="User Name" required/>
                                    <label class="inputlabel" for="textUsername">User Name
                                            <span class="star" >*</span>
                    
                                    </label>
                    
                                    <div class="error" *ngIf="users.get('username').touched && users.get('username').hasError('required')">
                                            Username is required
                                        </div>
                                        <div class="error" *ngIf="users.get('username').touched && users.get('username').hasError('minlength')">
                                            Minimum of 8 characters
                                        </div>
                                        <div class="error" *ngIf="users.get('username').touched && users.get('username').hasError('maxlength')">
                                                Maximum of 15 characters
                                            </div>
                                        <div class="error" *ngIf="users.get('username').touched&& users.get('username').hasError('pattern')">
                                                Username is not valid   
                                        </div> 
                                        
                            </div>
                            <div class="form-group  col-sm-3">
                                    <label>
                                        <i style="font-size: 1.5rem;" class="fa fa-check-circle-o" [ngClass]="{ 'heightlightIcon' : users.controls['username'].valid}" aria-hidden="true"></i > &nbsp; An Email will be be sent to the user for reset password</label>
                            </div>
                </div>
                <div class="col-sm-12">
                        <div class="form-group col-sm-3 inputstyle">
                                <input id="textEmailId"  formControlName="email" placeholder="EmailId for Notification" required/>
                                <label class="inputlabel" for="textEmailId">Email ID for notification
                                        <span class="star" >*</span>
            
                                </label>
                                <div class="error" *ngIf="users.get('email').touched && users.get('email').hasError('required')">
                                        Email ID is required
                                    </div>
                                   
                                    <div class="error" *ngIf="users.get('email').touched && users.get('email').hasError('pattern')">
                                            Email  ID is not valid   
                                     </div> 
                            </div>
            
                   </div>
                
                          </div>
                  </div>
                  <div *ngSwitchCase="'Address'" class="row col-sm-12 ">
                      <div class="row col-sm-12">                         
                          <div class=" col-sm-12 ">
                              <div class="row">
                                  <div class="col-sm-12 form-group inputstyle">
                                      <input id="textaddress" formControlName="address" placeholder="address" required>
                                      <label class="inputlabel" for="textaddress">Address
                                              <span class="star">*</span>
      
                                      </label>
                                      <div class="error" *ngIf="users.get('address').touched && users.get('address').hasError('required')">
                                              Address is required
                                          </div>
                                          <div class="error" *ngIf="users.get('address').touched && users.get('address').hasError('minlength')">
                                              Minimum of 2 characters
                                          </div>
                                  </div>
      
                              </div>
                              <div class="row">
                                  <div class="col-sm-4 form-group inputstyle">
                                      <select class="editorinput dropdownaddress" (change)="onCountrySelect(users.controls['country'].value)" formControlName="country" required>
                                             <option [ngValue]="null" disabled selected> Country<span class="star" >*</span>  </option>
                                    
                                     <!--  <option value="null" disabled="true" [selected]="true"> Country
                                          <span class="star" >*</span>
                                                      </option> -->
                                          <option *ngFor=" let n of countries;let i=index" [ngValue]="n">{{n.name}}</option>
                                      </select>
                                      <label [ngClass]="{ 'lableFocused' : users.controls['country'].value.length != 0 }">Country <span class="star" >*</span></label>

                                      <div class="error" *ngIf="users.get('country').touched && users.get('country').hasError('required')">
                                                  Country is required
                                              </div>

                                  </div>
                                  <div class="col-sm-4 form-group inputstyle">
                                      <select class="editorinput dropdownaddress" (change)="onSateSelect(users.controls['state'].value)" formControlName="state" required>
                                          <option [ngValue]="null" disabled selected> State / Province
                                                  <span class="star" >*</span>
      
                                          </option>
      
                                          <option [disabled]="statesList.length == 0" [ngValue]="s" *ngFor=" let s of statesList">{{s.name}}</option>
                                      </select>
                                      <label [ngClass]="{ 'lableFocused' : users.controls['state'].value.length != 0 }">State <span class="star" >*</span></label>
                                      <div class="error" *ngIf="users.get('state').touched && users.get('state').hasError('required')">
                                              State is required
                                          </div>
                                  </div>
                                  <div class=" col-sm-4 form-group inputstyle">
                                      <select class="editorinput dropdownaddress" (change)="onCitySelect(users.controls['city'].value)" formControlName="city" required>
                                            <option [ngValue]="null" disabled selected> City 
                                                  <span class="star" >*</span>
      
                                          </option>
      
                                          <option [disabled]="citiesList.length == 0" [ngValue]="c" *ngFor=" let c of citiesList">{{c.name}}</option>
                                      </select>
                                      <label [ngClass]="{ 'lableFocused' : users.controls['city'].value.length != 0 }">City <span class="star" >*</span></label>

                                    

                                      <div class="error" *ngIf="users.get('city').touched && users.get('city').hasError('required')">
                                              City is required
                                          </div>
                                  </div>
                                  <div class="col-sm-4 form-group inputstyle">
                                      <input id="textZipcode" formControlName="zipcode" placeholder="Postal Code" required>
                                      <label class="inputlabel" for="textZipcode">Postal Code
                                              <span class="star">*</span>
      
                                      </label>
                                      <div class="error" *ngIf="users.get('zipcode').touched && users.get('zipcode').hasError('pattern')">
                                            Postal Code is not valid
                                          </div>
                                          
          
                                  </div>
                              </div>
                              <div class="row">
                                    <div class=" col-sm-4 form-group inputstyle">
                                        <input id="textlatitude" formControlName="phonenumber" placeholder="Phone No">
                                        <label class="inputlabel" for="textlatitude">Phone No</label>
                                    
                                    </div>
                                    <!-- <div class=" col-sm-4 form-group inputstyle">
                                        <input id="textlongitude" formControlName="fax" placeholder="Fax">
                                        <label class="inputlabel" for="textlongitude">Fax</label>
                               
                                    </div>
         -->
        
                                </div>
                        
                             
                          </div>
      
                      </div>
      
      
                  </div>
               
              </div>
      
              <button class="AccordionSubmit" (click)="next(group,i)" *ngIf="i < groups.length-1">Next
                  <i class="fa fa-play" aria-hidden="true"></i>
              </button>
      
          </accordion-group>
      
      </accordion>

      
      <div clas="row">
          <button class="AccordionSubmit" type="submit" [ngClass]="{'diabled-class': users.invalid}" [disabled]="users.invalid" (click)="Submit(users)"> Save</button>
          <button class=" AccordionCancel" (click)="cancelEdit()">Cancel</button>
      </div>
      
      
      </form>
      
      