.userRole
{
.active
{
color:#003664;

}
label
{
    font-size: 0.8rem;
}

}
.ToggleActive
{
  color: #000000;
  width: 145px;
  height: 33px;
  border-radius: 16px;
  box-shadow: 0px 2px 2px 0 rgba(25, 196, 172, 0.44);
  border: 2px solid #19c4ac;
    .active

    {
        color:white;
        background-color: #19c4ac;
        border-radius: 63px 64px 64px 63px;
        padding: 0.2rem 0.25rem !important;
        width: 71px;
        border: 1px solid honeydew;

    }

    label
    {
        padding: 0.2rem 0.25rem !important;
        margin-bottom: 0px;
    border-radius: 63px 64px 64px 63px;
    width: 71px;
    }
}
.heightlightIcon
{
    fill:#19c4ac;

}
.pencilHide
  {

    display: none;
  }

  .widgets_div {
    padding: 22.85px 0;
  }
  
  .widgets_div .icon_div {
    display: inline-block;
    vertical-align:middle;
  }
  
  
  .widgets_div .text_div {
    display: inline-block;
    vertical-align: middle;
  }
  
  .widgets_div .text_div span {
    font-size: 12px;
    font-weight: 500;
    line-height: 0.83;
    text-align: left;
    color: #3e3d47;
  }
  
  .widgets_div .text_div span + span {
    color: #8d949c !important;
        font-size: 10px !important;
        line-height: 1;

  }  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  